* {
    box-sizing:border-box;
}

.nav-main{
    display:flex;
    width: 100%;
    margin-bottom: 1em;
    justify-content:space-around;
}

.flex-box{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
}

.flex-box label{ 
    margin-bottom: 1em;
}

.announcement{
    background-color: #6C6D9B;
    color: white;
    padding: 0.1rem;
    text-align: center;
}

.menu-icon{
    display: none;
}

.nav-main h1 a{
    font-size: 1.5em;
    text-decoration: none;
    vertical-align: middle;
    margin: auto;
}

@media (max-width:747px){
    .nav-items{
        margin-top: 0;
        margin-bottom: 0;
        z-index: 10;
        gap: 2rem;
        display: flex;
        position:fixed;
        inset: 0 0 0 45%;
        padding: min(15vh, 10rem) 2em;
        flex-direction: column;
        background: hsla(272, 100%, 93%, 0.432);
        backdrop-filter: blur(2rem);

        transform: translateX(100%);
        transition: transform 350ms ease-in;
    }

    .nav-items[data-visible="true"]{
        transform: translateX(0%);
    }

    nav{
        text-align: center;
    }

    .announcement{
        font-size: small;
    }


    .menu-icon{
        display: block;
        z-index: 12;
        position: fixed;
        background: none;
        border: 0;
        top: 2rem;
        right:2rem;
    }

    .centered > h1{
        font-size: 2.5rem;
      }

    .total-price{
        font-size:1.5rem;
    }


    .image-box{
        width:30%;
    }

}

.box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

@media (max-width:747px){
    .box > .product{
        flex: 50%;
    }

}

@media (max-width:600px){
    .box{
        flex-direction: column;
        align-items: center;
    }
}

.container{
    margin:auto;
    max-width: 1400px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.box-item-nav{
    font-size: 1.1em;
    font-weight: bold;
    flex: 1;
    vertical-align: middle;
}

.current-page{
    color:#F27EB1;
}

.product{
    flex: 0 1 24%;
    margin-bottom: 5%;
}

.product-description{
    min-width: 300px;
}

.ratings .fa-star{
    color: #F9B3BB;
}

.reviews .ratings-click{
    display: flex;
    gap:1rem;
    align-items: center;
}

.ratings-click i{
    color: lightgrey;
    font-size: 2.5rem;
    cursor: pointer;
}

.ratings-click i.active{
    color: #F9B3BB;
}

.reviews{
    width: 100%;
}

.reviews input{
    width: 100%;
    height: 3rem;
    margin-bottom: 1.5rem;
}

.reviews textarea{
    width: 100%;
    height: 8em;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.product-description img{
    max-width: 100%;
}

.pages{
    margin:auto;
}

.pages span{
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    background-color: #6C6D9B;
    color: white;
    width:2.2rem;
    height:2.2rem;
    text-align: center;
    line-height: 2.2rem;
    margin-right: 1.1rem;
}

.pages span:hover{
    background-color: #F27EB1;

}

.featured-items{
    margin-top: 3em;
    text-align: center;
}

.footer {
    background-color:  #6C6D9B;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-left img {
    height: 60px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }

  .footer-text{
    color: white;
    text-decoration: none;
    margin-right: 10px;

  }
  

