* {
    box-sizing:border-box;
}

.nav-main{
    display:flex;
    width: 100%;
    margin-bottom: 5%;
}

.box{
    flex: 1;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-around;
}


.box-item-nav{
    font-size: 1.1em;
    font-weight: bold;
    flex: 1;
    line-height: 10px;
}


.product{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.box-item-image img{
    max-width: 100%;
}

.box-item-text{
    text-align: left;
}

