* {
    box-sizing:border-box;
}

.nav-main{
    display:flex;
    width: 100%;
    margin-bottom: 5%;
}

.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container{
    margin:auto;
    max-width: 1400px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box-item-nav{
    font-size: 1.1em;
    font-weight: bold;
    flex: 1;
    vertical-align: middle;
}

.product{
    flex: 0 1 24%;
    margin-bottom: 5%;
}

.product-description{
    flex-basis: 50%;
    min-width: 300px;
}

.ratings .fa-star{
    color: #F9B3BB;
}

.product-description img{
    max-width: 100%;
}
