* {
    box-sizing:border-box;
}

.nav-main{
    display:flex;
    width: 100%;
    margin-bottom: 1em;
}

.nav-main h1 a{
    text-decoration: none;
}

.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

@media (max-width:600px){
    .box{
        flex-direction: column;
    }
}

.container{
    margin:auto;
    max-width: 1400px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.box-item-nav{
    font-size: 1.1em;
    font-weight: bold;
    flex: 1;
    vertical-align: middle;
}

.current-page{
    color:#F27EB1;
}

.product{
    flex: 0 1 24%;
    margin-bottom: 5%;
}

.product-description{
    flex-basis: 50%;
    min-width: 300px;
}

.ratings .fa-star{
    color: #F9B3BB;
}

.product-description img{
    max-width: 100%;
}

.pages{
    margin:auto;
}

.pages span{
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    background-color: #6C6D9B;
    color: white;
    width:2.2rem;
    height:2.2rem;
    text-align: center;
    line-height: 2.2rem;
    margin-right: 1.1rem;
}

.pages span:hover{
    background-color: #F27EB1;
    
}
